<!DOCTYPE html>
<html layout:decorate="~{task/layout}">
<head>
    <title>Task List</title>
    ...
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle : ${vehicles}">
            <td th:text="${vehicle.id}">${vehicle.id}</td>
            <td th:text="${vehicle.make}">Text ...</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>