<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="footer" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
    <span>HIT Gate System</span>
</div>
<div th:fragment="footer-admin" th:align="center">
    &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2017</span>
    <span>HIT Gate System </span><span th:text="${@environment.getProperty('app.version')}"></span>
</div>
</body>
</html>
