
.square-card.mdl-card {
    width: 300px;
    height: 300px;
 }

.rectangle-card.mdl-card{
    width: 300px;
    height: 350px;
    margin-bottom: 10px;
}
.car-det-pic{
    width: 50%;
}
.mdl-grid {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 40px;
}
.mdl-card__media{
    display: flex;
    justify-content: center;
}

.mdl-card__media > img {
        max-width: 80%;
        width: auto;
        height: auto; /* ie8 */
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}
.mdl-button {
    margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.mdl-cell {
    padding: 10px;
}

.mdl-layout {
    align-items: center;
    justify-content: center;
  }

.stream, #basic-stream, #screenshot-video, #screenshot-img{
    width: 90%;
    height: 90%;
}
