<!DOCTYPE html>
<html layout:decorate="~{task/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
<div layout:fragment="content">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Text</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="timeLog : ${timeLogList}">
            <td th:text="${timeLog.id}"/>
            <td th:text="${timelog.purposeOfVisit}" />
            <td th:text="${timelog.vehicleId}" />
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>