<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashbard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/fontawesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome-free-6.0.0-web/fontawesome-free-6.0.0-web/css/all.css') }}">
    
    
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">


     <script src="{{ url_for('static', filename='visitor/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='visitor/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='visitor/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='visitor/css/form.css')}}">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">SeDGAS{{result}}</span>
      
    </div>
    {% block sidebar %}{% endblock %}
      
  </div>
  
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='fa fa-bars sidebarBtn'></i>
        {% block sectionName %}{% endblock %}
        
      </div>
      <div class="search-box">
		<strong>Sentiment Driven Gates Access System@
      {% block commName %}{% endblock %}
        </strong>
      </div>
      {% block nameRight %}{% endblock %}
      
    </nav>
    {% block homecontent %}{% endblock %}
  </section>


<!--Javascript section-->
  <script>
//Side bar----------------------------------------------------------------
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".sidebarBtn");
  sidebarBtn.onclick = function() {
    sidebar.classList.toggle("active");
    if(sidebar.classList.contains("active"))
    {
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
    }
    else{
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  }
//--------------------------------------------------------------------------------------
//make resoonse from residents-------------------------
function makeResponse(x){
    // alert("pppp")
    //console.log(document.getElementById(x));
    document.getElementById(x).classList.toggle("show");
}
  function accept(x,y){
    var id=x;
    // alert(x)
    var action="accepted"
    var location=(document.location)
    acceptReject(id,action,location)
    document.getElementById('pendings'+y).style.color="green";
    document.getElementById('pendings'+y).innerHTML="-------";
    document.getElementById('pending'+y).style.color="green";
    document.getElementById('pending'+y).innerHTML="Please wait....."
    document.getElementById(x).style.display="none";
  }
  
  function rejected(x,y){
    var id=x;
    var action="rejected"
    var location=(document.location)
    acceptReject(id,action,location)
    document.getElementById('pendings'+y).innerHTML="..........."
    document.getElementById('pending'+y).style.color="Red";
    document.getElementById('pending'+y).innerHTML="Please wait....."
  }
  function acceptReject(x,y,z){
    $.ajax({
        method:"post",
        url:"/livesearch3",
        data:{text:"."+(x) +"."+(y)+"."+(z)+"."},
        success:function(res){
          // alert(res['res'])
          document.location.reload()
        }
    });
};


//------------------------------------------------------------------------------

//Searching the residents live------------------------------------------

  const array=[]
    $(document).ready(function(){
        var location=window.location.href;
        const locData=location.split("/");
        var commID=(locData[4])
        var ldID=(locData[5])
        // alert(locData[0] +"/"+ locData[1] +"/"+locData[2]+"/"+locData[3]+"/"+locData[4]+"/"+locData[5])
        const myInterval = setInterval(do_ajax, 5000);
        function do_ajax(){

            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearch2",
                data:{text:locData[4]},
                success:function(res){



                    var data ="<table class='Tb'> <tr> <th width='150px'>Name</th><th width='70px'>Happy</th> <th width='70px'>Nutral</th> <th width='50px'>Sad</th> </tr>";
                    $.each(res,function(index,value){
                        data+="<tr class='Tb'><td>"+value['name']+"</td><td>"+ value['happy'] +"</td> <td>"+ value['Nutral'] +"</td> <td>"+ value['Sad'] +"</td> </tr>";
                        console.log(value)
                    });
                    $("#datalist").html(data);
                }
            });
        };
    });


    


    function view(x){
        document.getElementById('livebox').value=array[x]
    }


function trackLocation(x){
  localStorage.setItem("communityId", x);
  // alert(localStorage.getItem("communityId"));
};

var communityId=(localStorage.getItem("communityId"));



// --Visitors form submission-------------------------------------------------------------------------------------------------------
function postVisitors(){

  // alert("inside")
  // var communityId=localStorage.getItem("communityId");
  // var resident_address = $('#livebox').val();
  // var fname = $('#fname').val();
  // var lname = $('#lname').val();
  // var sex = $('#sex').val();
  // var fnumber = $('#4number').val();
  // var email = $('#email').val();
  // var nId = $('#nId').val();
  // var address = $('#address').val();
  // alert(member_address)

  // const formdata=[member_name,member_surname]
  // alert(formdata)

  // $.ajax({
  // method:"post",
  // url:"/postVisitors",
  // data:{text:communityId+":"+ resident_address +":"+ fname +":"+lname +":"+sex +":"+ fnumber +":"+email +":"+ nId +":" +address },

  //   success:function(res){
  //     // document.location.reload()
  //     alert("Done")
  //   }
  // });
}
// ---------------------------------------------------------------------------------------------------------



function gotovisitation(){
  var location=window.location.href;
  const locData=location.split("/");
  // alert(locData)
  // alert(locData[0] +"/"+ locData[1] +"/"+locData[2]+"/"+locData[3]+"/"+locData[4]+"/"+locData[5])
}


function settingsdropdown(){
  // document.getElementById("settings-drop-down").classList.toggle('show');
  // alert("KKK")
}



</script>

</body>
</html>

