{%extends "base.html" %}

{% block sidebar %}
<ul class="nav-links">
<li>
  <a href="dashboard"  class="active">
    <i class="fa-solid fa-table-cells-large"></i>
    <span class="links_name">Dashboard</span>
  </a>
</li>


<li>
  <a href='visitation'>
    <i class="fa-solid fa-users"></i>
    <span class="links_name">Visitation</span>
  </a>
</li>

<li>
  <a href="notifications">
    <i class="fa-solid fa-bell"></i>   
    <span class="links_name">Notifications</span>
    <div class="notification">
        <strong>
          {% for i in data2 %}
            {% if i['count(name)'] > 0 %}
               {{ i['count(name)'] }} 
            {% endif %}
          {% endfor %}
        </strong></div>
  </a>
</li>
<li>
  <a href="settings">
    <i class="fa-solid fa-cog"></i>
    <span class="links_name">Settings</span>
  </a>
</li>
<li class="log_out">
  <a href="#">
    <i class="fa fa-angles-left"></i>
    <span class="links_name">Log out</span>
  </a>
</li>
</ul>
{% endblock %}

{% block sectionName %}
    <span class="dashboard">Resident</span>
{% endblock %}

{% block commName %}
    {{ data3['commName'] }}  
{% endblock %}

{% block nameRight %}
<div class="profile-details">
    <img src="{{ url_for('static', filename='img/lavet.png') }}" alt="">
    <span class="admin_name">Lavet</span>
    <i class='bx bx-chevron-down' ></i>
</div>
{% endblock %}

<!--Section body side-->
{% block homecontent %}
    <div class="home-content">
        Notifications

        <section > 

            <section class="row visitors-line">
               <div class="boxs"> 
                    
               </div>
               <div class="boxs"> 
               </div>
               <div class="boxs"> 
               </div>

                
            </section>

        </section> 

    </div>
{% endblock %}

