
{%extends "base2.html" %}

{% block commName %}
<strong>Welcome! Welcome to {{data2['commName']}}</strong>
{% endblock %}

{% block sidebar %}
<ul class="nav-links">
<li>
  <a href="dashboard" class="active" >
    <i class="fa-solid fa-table-cells-large"></i>
    <span class="links_name">Dashboard </span>
  </a>
</li>



<li>
  <a href="requests" >
     <i class="fa-solid fa-hands"></i>
    <span class="links_name">Request</span>
  </a>
</li>

<li class="log_out">
  <a href="#">
    <i class="fa fa-angles-left"></i>
    <span class="links_name">Log out</span>
  </a>
</li>
</ul>
{% endblock %}

{% block sectionName %}
    <span class="dashboard">Visitor</span>
{% endblock %}



<!--Section body side-->
{% block homecontent %}
    <div class="home-content">
        <div class="sales-boxes">
            
            <div class="top-sales box" id="" >
                <div class="title img"><strong></strong>
                    <img src="{{ url_for('static', filename='comm.JPG') }}" height="250px" width="265px">
                </div> 

                
            </div>
            <div class="top-sales box" id="" >
                <div class="title img2"><strong>About us </strong></div> 
                <p>We are SeDGAS and we provide security management into your comunities. Every community can be secured with us.</p>
                
            </div>
            <div class="top-sales box" id="" >
                <div class="title img3"><strong>Visitors welcomed</strong></div> 
                <p>Over 100 communities are experiencing the good part of this system.
                    You are more than welcome , use SeDGAS to access your freinds and relatives.
                </p>

                
            </div>
                   
        </div>


    </div>
{% endblock %}

<script src="{{ url_for('static', filename='visitor/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='visitor/bootstrap.min.js') }}"></script>
<script>
    const array=[]
    $(document).ready(function(){
      
        $("#livebox").on("input",function(e){
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearch",
                data:{text:$("#livebox").val()},
                success:function(res){

                    var data = "<div class='list-group'>";
                    $.each(res,function(index,value){
                        var inforData=(value["Address"] +" -> "+ value["Name"] +" , "+ value["Surname"]);
                        data += "<p class='list-group-item list-group-item-action' id='"+ index +"' onclick=view("+index +")>"+ inforData +"</p>";
                        array.push(inforData)
                    });
                    data += "</div>";
                    $("#datalist").html(data);
                }
            });
        });
    });
    function view(x){
        document.getElementById('livebox').value=array[x]
    }
    


// function postVisitors(){

//   alert("in postVisitors in")
//   var communityId=localStorage.getItem("communityId");
//   alert("inside")
//   var resident_address = $('#livebox').val();
//   var fname = $('#fname').val();
//   var lname = $('#lname').val();
//   var sex = $('#sex').val();
//   var fnumber = $('#4number').val();
//   var email = $('#email').val();
//   var nId = $('#nId').val();
//   var address = $('#address').val();
//   $.ajax({
//   method:"post",
//   url:"postToDB4",
//   data:{text:communityId+":"+ resident_address +":"+ fname +":"+lname +":"+sex +":"+ fnumber +":"+email +":"+ nId +":" +address },

//     success:function(res){
//       // document.location.reload()
//       alert("Done")
//     }
//   });
// }


// function postResidents(){
//         var communityId=localStorage.getItem("communityId");
//         var member_name = $('#member_name').val();
//         var member_surname = $('#member_surname').val();
//         var member_password = $('#member_password').val();
//         var member_password_confirm = $('#member_password_confirm').val();
//         var gender = $('#gender').val();
//         var member_email = $('#member_email').val();
//         var member_national_id = $('#member_national_id').val();
//         var member_address = $('#member_address').val();
//         alert(member_address)

//         // const formdata=[member_name,member_surname]
//         // alert(formdata)

//         $.ajax({
//         method:"post",
//         url:"/postToDB3",
//         data:{text:communityId+":"+ member_name +":"+ member_surname +":"+member_password +":"+member_password_confirm +":"+ gender +":"+member_email +":"+ member_national_id +":" +member_address  },

//         success:function(res){
//           // document.location.reload()
//           alert("Donne")
//         }
//     });
//     }



</script>