{% extends 'claim/claimsHome.html' %}
{% block title %}All Claims{% endblock %}
{% block body %}
			<!-- Top Search
						============================================= -->
						<div id="top-search-input">
							<form action="{% url 'claim:search' %}" method="get">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="icon-line-search"></i></div>
									</div>
									<input type="text" name="q" class="form-control" value="" placeholder="Search..">
								</div>
							</form>
						</div><!-- #top-search end -->
<div class="list-group">
    {% for claim in claims %}
    <a href="{% url 'claim:detail' claim.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-2">{{claim.doctor.name}}</h4>
            <small class="text-muted">{{claim.updated_at}}</small>
        </div>
        <p class="mb-1">${{claim.claimed}}</p>
        <small class="text-muted">Approval: 
            {% if claim.approval == "Approved"%}
            <span class="badge badge-pill badge-success">Approved</span>
            {% elif claim.approval == "Pending" %}
            <span class="badge badge-pill badge-warning">Pending</span>
            {% else %}
            <span class="badge badge-pill badge-danger">Rejected</span>
            
            {% endif %}</small>
            {% if claim.trees == "Genuine" and claim.forest == "Genuine" %}
            <span class="badge badge-secondary float-right badge-success" style="margin-top: 3px;">Genuine {{claim.confidence|floatformat:0}}%</span>
            {% else %}
            <span class="badge badge-secondary float-right badge-warning" style="margin-top: 3px;">Possible Fraud {{claim.confidence|floatformat:0}}%</span>
            {% endif %}
            
    </a>
    {% endfor %}
</div>

{% endblock %}
