<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
<div th:replace="fragments/header :: header">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Static header</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <a th:href="@{/auth/login}">
    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
  </a>
  <div class="hero-unit">
    <h1>Test</h1>
    <p>
      Welcome to the Spring MVC Quickstart application!
      Get started quickly by signing up.
    </p>
    <p>
      <a href="/signup" th:href="@{/auth/signup}" class="btn btn-large btn-success">Sign up</a>
    </p>
  </div>
  <div th:replace="fragments/footer :: footer">&copy; 2016 The Static Templates</div>
</div>
</body>
<footer>
  Contact Us
</footer>
</html>